python-telegram-bot[job-queue]==21.6
ccxt==4.1.59
pandas==2.2.3
numpy==2.3.4
requests==2.32.3
pytz==2024.2
tzdata==2024.2
Flask==3.0.3
waitress==3.0.2

# Google Drive API
google-api-python-client==2.151.0
google-auth==2.35.0
google-auth-oauthlib==1.2.1
google-auth-httplib2==0.2.0
